/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}

a:link {
	color: #17719b;
	text-decoration: none;
}
a:hover {
	color: #17719b;
	text-decoration: none;
}
a:visited {
	color: #17719b;
	text-decoration: none;
}





/* Navigation */

.menu {
	position:fixed;
	top:-20px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	margin-top: 20px;
	z-index:100;
}
#logo {
	margin-top: 10px;
	text-align: center;
}

#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #53b5af;
	font-weight:bold;
}

.trainshit {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 12px;
	font-size: 14px;
	max-width: 300px;
	word-wrap: break-word;
	font-weight: bold;
	color: gray;
	background-color: white;
	padding: 8px;
}

.trainhead {
	float: right;
	max-height:80px;
}

#train {
	max-width: 100%;
	height: auto;
	width: auto;
	position: fixed;
	bottom: 0px;
	left: 10px;
}

/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}



/* Slide 1 */ 

#slide1{
	background-color: #9ABED3;
	margin-top:50px;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:white;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: white;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide1 p {
	color: white;
}

/* Slide 2 */ 

#slide2, #slide4 {
	background-image:url('../images/4.png');
	background-color:#8a8683;
	color:#ffffff;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 3 */ 

#slide3{
	background-color: #9ABED3;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:white;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: white;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 200;
}

#slide3 p {
	color: white;
}

#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}




/* Slide 4 */

#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}





/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#susisiekime {
	height: 50px;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}

.paslaugos {
	margin-top: 100px;
}

.grid_12 {
	margin-top: 100px;
}

.pav {
	margin-left: 40px;
	max-width: 450px;
	max-height: 350px;
}

.pav-wagons {
	margin-top: 100px;
}

.pav-contact {
	margin-left: 150px;
}

.pav-paslaugos {
	margin-left: 150px !important;
}
